@media all and (max-width: 1200px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
    }
    .container-fluid {
        padding: 0px !important;
    }

    .table-container {
        padding-top: 0!important;
        padding-bottom: 0 !important;
    }
}

@media all and (max-width: 500px) { /* screen size until 500px */
    body * {
        font-size: 0.8em; /* 0.8x default size */
    }
}

body {
    background: #f5f5f5;
}

h1 {
    font-size: 1.4em;
}

.table-container {
    padding-top: calc(2vh);
    padding-bottom: calc(2vh);
    display: none;
}



.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.main-content {
    padding: calc(2.5vh);
    width: 100%;
}

.loading-container {
    padding: calc(50vh);
}

#loading-text{
    padding-top: 10px;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}