@media (max-width: 900px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }
}

@media (min-width: 768px) {
    .container {   
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }
}
 
@media only screen and (max-width: 640px) {
    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    .fixed-table-container thead th .th-inner {
        padding: 5px !important;
    }

    .fixed-table-container thead th .sortable {
        padding-right: 5px !important;
    }

    .bootstrap-table .table:not(.table-condensed)>tbody>tr>td {
        padding: 5px !important;
    }
}


body {
    background: #f5f5f5;
}

h1 {
    font-size: 1.5em;
}

.table-container {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: none;
}

#table {
    background-color: white;   
}

.flex-container {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important;
}

.flex-fill-height {
    flex: 1 !important;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.box-padding {
    padding: 1.5vh;
}

#footer {
    padding-bottom: 2.5vh;
}

.loading-container {
    padding-top: 2.5vh;
}

#loading-text{
    padding: 2vh;
}

.no-outline-button, .no-outline-button:focus, .no-outline-button:active {
    box-shadow: none !important;
    outline: none !important;

}

.no-href-focus:focus {
    color: #000;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-20px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-20px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}